@import "tailwindcss";

@theme {
    --font-sans: Noto Sans, Noto Sans Fallback;
    --font-serif: Fraunces, Fraunces Fallback;
}

@utility text-gradient {
    @apply bg-gradient-to-br from-cyan-500 via-blue-500 via-50% to-sky-500 to-95% bg-clip-text text-transparent dark:from-cyan-400 dark:via-blue-400 dark:to-cyan-400;
}
